.describe-ipynb {
  margin:30px 10px 0px 0px;	
  font-size:16px;
}

.display-result-ipynb {
   width: 100%; 
   /*background-color: #7B68EE;*/
   background-color: #e9f7e0;
   color: black;
   text-align: left;
   font-size: 1rem;
   margin-top: 2px;
   margin-bottom: 20px;
   border: 1px #F23F2F;
}

br {
content: "";
margin: 0em;
display: block;
font-size:5%;
}