.norun {
  background-color: #F0F0F0;
  margin-top: 20px;
  border: 1px solid #4CAF50;
}

.run_already {
  background-color: #DAF7A6 ;
  margin-top: 20px;
  border: 1px solid #4CAF50;
}

.main {
	margin-bottom: 100px;	
	margin-left: 135px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px 4px 0px;
  cursor: pointer;
}

.showcode {    
	margin:0px;    
}

textarea {
	font-size: 13pt;
	width: 100%;
}

.describe {
  margin:3px;	
}

.left_menu {
  background-color: #ECFFDC;
  position: fixed;
  left: 0;
  top:30;
  width: 100px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%; 
   background-color: #7B68EE;
   color: white;
   text-align: left;
   margin-left: 135px;
   border: 2px solid #023020;
}