.norun {
  background-color: #F0F0F0;
  margin-top: 20px;
  border: 1px solid #4CAF50;
}

.run_already {
  background-color: #DAF7A6 ;
  margin-top: 20px;
  border: 1px solid #4CAF50;
}

.main {
	margin-bottom: 100px;	
	margin-left: 135px;
}

/*input[type=button], input[type=submit], input[type=reset] {*/
.run_btn {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0px 2px 20px 0px;
  cursor: pointer;
}

.clear_btn {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  margin: 10px 2px 5px 0px;
  cursor: pointer;
}

.showcode {    
	margin-top:3px;    
}

textarea {
	font-size: 13pt;
	background-color: #F5F5F5;
	width: 100%;
}

.describe {
  margin:3px;	
}

.left_menu {
  background-color: #ECFFDC;
  position: fixed;
  left: 0;
  top:30;
  width: 100px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%; 
   /*background-color: #7B68EE;*/
   background-color: #606060;
   color: white;
   text-align: left;
   margin-left: 135px;
   padding-left: 5px;
   border: 2px solid #023020;
}