.norun {
  background-color: #F0F0F0;
  margin-top: 20px;
  border: 1px solid #4CAF50;
}

.run-already {
  background-color: #DAF7A6 ;
  margin-top: 20px;
  border: 1px solid #4CAF50;
}

.main {
	margin-top: 60px;	
	margin-left: 160px;
}

.sale {
	margin-top: 10px;	
	margin-left: 160px;
}

/*input[type=button], input[type=submit], input[type=reset] {*/
.run-btn {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0px 2px 20px 0px;
  cursor: pointer;
}

/*.clear_btn {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  margin: 10px 2px 5px 0px;
  cursor: pointer;
}*/

.showcode {    
	margin-top:3px;    
}

textarea {
	font-size: 13pt;
	background-color: #F5F5F5;
	width: 100%;
}

.describe {
  margin:3px;	
}

.left-menu {
  background-color: #ECFFEF;
  position: fixed;
  left: 0;
  top:15;
  width: 135px;
  display: block;
}

.picture-left-menu {
  text-align:left; 
  margin:10px 0px 5px 20px;
}

.display-result {
   width: 100%; 
   /*background-color: #7B68EE;*/
   background-color: #606060;
   color: white;
   text-align: left;
   margin-top: 0px;
   margin-bottom: 3px;
   border: 0.5px #023020;
}

.header {
  background-color: #3CB371;
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  margin-left: 160px;  
}

@media all and (max-width: 768px){
.left-menu {
    display: none;
}
.main {
	margin-left: 10px;
}
.header {
	margin-left: 10px;
}
}