body {
	 /*font-family: 'Noto Sans Thai', sans-serif;*/
}	

.notrun {
  background-color: #F0F0F0;
  margin-top: 3px;
  border: 1px solid #4CAF50;
}

.run-already {
  background-color: #DAF7A6 ;
  margin-top: 3px;
  border: 1px solid #4CAF50;
}

.main {
	margin-top: 70px;	
	margin-left: 21%;	
	margin-right: 21%;	
	overflow:auto;
}

.sale {
	margin-top: 0px;	
	margin-left: 20%;
}

/*input[type=button], input[type=submit], input[type=reset] {*/
.run-btn {
  background-color: #04AA6D;
  font-weight: bold;
  border: none;
  color: white;
  padding: 4px 20px;
  text-decoration: none;
  margin: 0px 2px 20px 0px;
  cursor: pointer;
}

textarea {
  font-size: 1em;
  background-color: #F5F5F5;
  width: 100%;
}

.describe {
  margin:3px;	
  font-size:16px;
}

.ads {
  position: fixed;
  /*right: 7%;*/
  right:35;
  top: 70;
  text-align:left;   
  /*padding-left: 0;*/
  z-index: 15;
}

.img-ads {
	width: 200;	
}

.header {
  background-color: #3CB371;
  position: fixed;
  width: 100%;   
  height: 8%;   
  left: 0;
  top:0;  
  z-index: 50;	
}

.headline {
  padding-left: 20%;  
  margin-top: 5px;
  text-align: left;
  font-weight: 500;
  font-size: 1.5em;
}

.link-chap {
    text-decoration: none;
}

.link-chap:hover {
  background-color: #FBFBFB;
}

.group-menu{
	
}

.btn-menu {		
    position: fixed;
    left: 0;
    top: 0;
	border: 1px solid;
	border-color: #5A8A1A;
	border-radius: 15px;
	background: #558415;	    	
	padding: 0.5rem 4.5rem;		
	cursor: pointer;	
	z-index: 50; 
	color:white; 
	font-size:18px;
	display:none;
}

.main-menu{  
  position: fixed;
  left: 0;
  top: 30;
  height: 100%;
  width: 18%;
  height: 100%; 
  margin-top:18px;
  padding-top:12px; 
  padding-left:10px; 
  padding-bottom:100px; 
  background-color: #DAF7A6;
  font-size: 16px;
  /*overflow-y: scroll;**/
  overflow: auto;  
  z-index: 5;   
  text-align: left; 
  font-size: 0.9em;  
}

.display-result {
   width: 100%; 
   /*background-color: #7B68EE;*/
   background-color: #606060;
   color: white;
   text-align: left;
   font-size: 1rem;
   margin-top: 2px;
   margin-bottom: 3px;
   border: 0.5px #023020;
}

/*wrap text*/
div.display-result {
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   white-space: -o-pre-wrap;
   word-wrap: break-word;
}

.footer {
  background-color: #3CB371;
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
  color: white;
  text-align:center;
  display:none;
  z-index: 1000;
}

.rotate {
	animation: animName 2s linear infinite;	
	opacity: 10;
	width:30%;
	position: fixed; 
	left:35%;
	top:20%;
	z-index: 100;
	display: none;
}

@keyframes animName {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.loading {
	animation: blinker 1s step-start;
	/*background-color: #FBFBFB;*/
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

@media all and (max-width: 768px){
	.main {
		margin-left: 2%;	
		margin-right: 2%;		
	}
	.sale {
		margin-left: 10px;
	}
	.footer {
		display: block;
	}	
	.ads {
		display: none;	
	}
	
	/*
	.headline {
		display: none; 
	}
	
	.btn-menu {
		display: block;
	}
	.main-menu {
		display: none;	
		width: 100%;
	}
	.group-menu:hover  .main-menu {
		display: block;
		margin-top: 10px;
	}
	*/
	
}