body {
	 /*font-family: 'Noto Sans Thai', sans-serif;*/
}	

.notrun {
  background-color: #F0F0F0;
  margin-top: 3px;
  border: 1px solid #4CAF50;
}

.run-already {
  background-color: #DAF7A6 ;
  margin-top: 3px;
  border: 1px solid #4CAF50;
}

.main {	
	margin-top: 70px;
	margin-left: 20%;	
	margin-right: 20%;	
	width: 60%;
	overflow:auto;
}

.blur {
  filter: blur(0.8rem);
}

.sale {
	margin-top: 0px;	
	margin-left: 20%;
	display: none;
}

/*input[type=button], input[type=submit], input[type=reset] {*/
.run-btn {
  background-color: #04AA6D;
  font-weight: bold;
  border: none;
  color: white;
  padding: 4px 20px;
  text-decoration: none;
  margin: 0px 2px 20px 0px;
  cursor: pointer;
}

textarea {
  font-size: 1em;
  background-color: #F5F5F5;
  width: 100%;
}

.describe {
  margin:3px;	
  font-size:16px;
}

.ads {
  position: fixed;
  /*right: 7%;*/
  right:35;
  top: 70;
  text-align:left;   
  /*padding-left: 0;*/
  z-index: 15;
}

.img-ads {
	width: 200;	
}

.header {
  background-color: #3CB371;
  position: fixed;
  width: 100%;   
  height: 50px;   
  left: 0;
  top:0;  
  z-index: 50;	
  display: block;
}

.headline {
  padding-left: 20%; 
  margin-bottom: 15px;	
  text-align: left;
  font-weight: 500;
  font-size: 1.7em;  
  color:white;
}

.link-chap {
    text-decoration: none;	
}

a:link {
  color: black;
}

a:hover {
  background-color: #FBFBFB;
}

/* selected link */
a:active {
  background-color: #CBCBCB;
}

.group-menu{
	
}

.btn-menu {		
    position: fixed;
    left: 0;
    top: 0;
	border: 1px solid;
	border-color: #5A8A1A;
	border-radius: 15px;
	background: #558415;	    	
	padding: 0.5rem 1.0rem;		
	cursor: pointer;	
	z-index: 80; 	
	text-align: center;		
}

.main-menu{  
  position: fixed;
  left: 0;
  top: 40;
  height: 100%;
  width: 18%;
  height: 100%; 
  margin-top:0px;
  padding-top:20px; 
  padding-left:10px; 
  padding-bottom:100px; 
  background-color: #DAF7A6;
  font-size: 16px;
  /*overflow-y: scroll;**/
  overflow: auto;  
  z-index: 5;   
  text-align: left; 
  font-size: 0.9em;    
}

.display-result {
   width: 100%; 
   /*background-color: #7B68EE;*/
   background-color: #606060;
   color: white;
   text-align: left;
   font-size: 1rem;
   margin-top: 2px;
   margin-bottom: 3px;
   border: 0.5px #023020;
}

/*wrap text*/
div.display-result {
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   white-space: -o-pre-wrap;
   word-wrap: break-word;
}

.footer {
  background-color: #3CB371;
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
  color: white;
  text-align:center;
  display:none;
  z-index: 1000;
}

.rotate {
	animation: animName 2s linear infinite;	
	opacity: 10;
	width:30%;
	position: fixed; 
	left:33%;
	top:20%;
	z-index: 100;
	display: none;
}

@keyframes animName {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.loading {
	animation: blinker 0.5s step-start infinite;
	/*background-color: #FBFBFB;*/
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

@media all and (max-width: 768px){
	.main {
		margin-left: 2%;
		width: 96%;	
	}
	.sale {
		margin-left: 10px;
	}
	.footer {
		display: block;
	}	
	.ads {
		display: none;	
	}
		
	.headline {
		font-size: 1.5em;
		text-align: right;
	}
	
	/*.btn-menu {
		display: block;
	}*/
	.main-menu {
		display: none;	
		width: 100%;
	}
	/*
	.group-menu:hover  .main-menu {
		display: block;
		margin-top: 10px;
	}*/

	
}